
.hero-section {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

main {
    min-height: 100vh;
}

.modal.fade .modal-dialog {
    transform: none !important;
}

.nav-pills {
    .nav-link {
        color: #9B49D9;
        
        &:hover {
            color: darken(#9B49D9, 15%);
        }
        
        &.active {
            background-color: #F89063;
            color: white;
        }
    }
}

.text-accent-primary {
    color: #7F3BB3;
}

.text-accent-secondary {
    color: #D57B54;
}